[Desktop Entry]
Type=Application
Name=EmComm Dashboard
Comment=EmComm-Tools Interactive Dashboard
Exec=/opt/emcomm-tools/bin/et-dashboard
Icon=emcomm-tools
Terminal=false
X-GNOME-Autostart-enabled=true
X-XFCE-Autostart-enabled=true
StartupNotify=false
NoDisplay=true
