[Desktop Entry]
Type=Application
Version=1.0
Name=Install EmComm OS
GenericName=EmComm-Tools Installer
Exec=calamares-install-debian
Comment=Install EmComm-Tools OS
Keywords=calamares;system;install;emcomm;installer
Icon=install-emcomm
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
