[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
Comment=Browse the file system
Exec=thunar
Icon=org.xfce.thunar
Terminal=false
Categories=System;FileManager;