[Desktop Entry]
Name=VarAC
Comment=VarAC Chat Client
Exec=/opt/emcomm-tools/bin/et-varac start
Icon=/usr/share/pixmaps/varac.png
Terminal=false
Type=Application
Categories=HamRadio;