# Build output
build/
*.iso
*.log

# Personal files, not for public
overlays/et-r5-va2ops/
overlays/*-va2ops/

motd/va2ops-*
wine-sources/Personal/

# System files
*.bak
*.tmp
*~
wine-sources/Public
wine-sources/General


# not fot general emcomm-tools os, has is own git: emcomm-tools/bbs-server-app
overlays/*/overlay/etc/skel/.local/share/emcomm-tools/bbs-server/apps/
